body, html {
	height: 100%;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
 	background: url(BG-image.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	font-size: 3rem;
	color:#e2dbdb;
}
.buffer {
	height: 13rem;
}
hr {
	border-color: #FF4500;
	border-width: 3px;
/*	max-width: 64px;*/
	max-width:100px;
	margin: auto;
/*	margin-left: 44%;*/
	padding-bottom: 4px;
}
.btn {
	font-weight: 700;
	border-radius:300px;
	text-transform: uppercase;
}
.btn-primary {
	background-color:#F05F44;
	border-color:#D2691E;
}
.btn-primary:hover {
	background-color: #FF4500;
	border-color: #FF8C00;
	border-width: 4px;
}
.btn-ext {
	padding:1rem 2rem;
}
.btn:active {
	background-color: rosybrown;
}